table,
mat-paginator {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}


.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.right-button {
  position: absolute;
  right: 20px;
}

.table-div {
  overflow-x: auto;
}

.news-card {
  color: white;
  background-color: rgb(47, 95, 161);
  box-sizing: border-box;
  min-width: 30%;
}

@media screen and (min-width: 800px) {
  .news-div {
    position: sticky;
    bottom: -250px;
  }
}

.news-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content {
  position: absolute;
  /* top: 400px; */
  bottom: -100px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.content-div {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}