.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-div{
    text-align: center;
}
.error-span{
    color: red;
    font-size: 17px;
;
}

#expDateLabel{
    font-size: 13px;
}