.login-container {    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    min-width: 20%;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-button{
    width: 100%;
}
.register-link{
    text-decoration: none;
}

.additional-link{
    text-align: center;
}
#errorLabel{
    color: red;
    font-style: italic;
}